/* font-family: 'Nunito', sans-serif;
font-family: 'Scope One', serif;
cor terrosa para botões #b96955 */

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(#51835d,#b3b2b2,#f3dfc3);
  font-size: 18px;
}

/* ----- MENU ----- */

.inicial ul {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom:#3d5e45 1px solid;
  /* background: linear-gradient(#51835d, #5d8a67) */
  
}

.inicial ul :hover {
  text-shadow: 1px 1px #2a4430;
}

.inicial a{
  font-size: 18px;
  color: #213626;
  text-decoration: none;
  margin: 12px
}

/* ----- MÁRIAN WIERMANN ----- */

main {
  padding: 96px 96px 24px 96px;
  color: #213626;
}

.digitando {
  display: inline-block;
}

h1 {
  font-size: 40px;
  font-family: 'Scope One', serif;

  border-right: 1px solid orange;
  animation: cursor 1.5s infinite, escrevendo 4s steps(11, end);
  
  white-space: nowrap;
  overflow: hidden;

  padding-right: 15px;
}

@keyframes cursor{
  0% {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes escrevendo {
  from {
  width: 0;
  }
  to {
  width: 100%;
  }
}

.mw-h2 {
  font-size: 24px;
  font-family: 'Scope One', serif;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 40px;
}

.mw-texto{
  display: grid;
  grid-template-columns: auto 50%;
  margin-top: 12px;
}

.mw-texto :first-child {
  margin: 0 0px 56px 0;
}

.mw-texto :last-child {
  margin: 56px 0 0 30px;
}

/* ----- SOBRE ----- */

.sobre {
  display: grid;
  grid-template-columns: 50% auto;
  margin-top: 12px;
}

.sobre-imagem{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.sobre-imagem img {
  width: 80%;
}

.sobre-imagem p {
  position: relative;
  top: 8%;
  padding-left: 60px;
  padding-right: 60px;
}

/* ----- PROJETOS ----- */

.projetos {
  margin-top: 12px;
  display: flex;
  flex-direction: row;  
}

.projetos div {
  color: #5d8a67;
  background-color: #213626;

  width: 180px;
  height: 200px;
  border-radius: 20px;

  margin-right: 16px;
  padding: 12px;

  display: flex;
  flex-direction: column;
}

.tag {
  display: flex;
  flex-direction: row;

  background-color: #111b14;
  border-radius: 20px;
  box-shadow: .5px .5px 0px .1px #5d8a67;
  padding: 5px;
  
  width: 55%;
}

a {
  text-decoration: none;
}

.projetos-titulo{
  border-bottom:#3d5e45 1px solid;
  padding-bottom: 5px;
}

.lp, .advogado, .color{
  display: flex;
  gap: 10px;
}


/* ----- CONTATO ----- */
.contato p {
  margin: 6px 0px;
}

.contato img{
  width: 24px;
  margin-right: 8px;
}

.contato img:hover {
  animation-name: flip;
  animation-duration: 2s;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg)
  }
}
