/* font-family: 'Nunito', sans-serif;
font-family: 'Scope One', serif;
cor terrosa para botões #b96955 */

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(#51835d,#b3b2b2,#f3dfc3)
}

/*barra inicial*/

/*.inicial ul {
  background: red;
  color: #213626;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 100px 0 0;
}*/

.inicial ul {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom:#3d5e45 1px solid;
  background: linear-gradient(#51835d, #5d8a67)
}

.inicial ul :hover {
  text-shadow: 1px 1px #2a4430;
}

.inicial a{
  font-size: 18px;
  color: #213626;
  text-decoration: none;
  margin: 12px
}

/*MÁRIAN WIERMANN*/

main {
  padding: 96px 96px 24px 96px;
  color: #213626;
}

section p {
  margin: 12px 12px 12px 0;
}

/*.mw {
  height: 100vh;
}*/

h1 {
  font-size: 40px;
  font-family: 'Scope One', serif;
}

.mw-h2 {
  font-size: 24px;
  font-family: 'Scope One', serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.mw-texto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mw-texto :first-child {
  padding: 0 0 56px 0
}

.mw-texto :last-child {
  padding: 56px 0 0 0
}

/*SOBRE*/

.sobre {
  display: grid;
  grid-template-columns: 50% auto;
}

.sobre-imagem{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sobre img {
  width: 100%;
}

.sobre-imagem p {
  position: relative;
  top: 40px;
}

/*CONTATO*/
.contato img {
  width: 24px;
  margin-right: 8px;
}

